h1{
    color: red;
    text-align: center;
}
h3{
    text-align: center;
    color: red;
}
#description{
    text-align: left;
    color: blue;
    font-style: italic;
    font-size: 20px;
}
#select{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: blue;
    font-style: Bold;
    font-size: 20px;
}
#select li{
    list-style: none;
    padding: 0 20px;
}
body {
    background-image: url('pictures/artisan-pottery-market.jpg');
    background-size: 450px auto; 
    background-position: top right;
    background-repeat: no-repeat; 
    background-color: rgba(18, 158, 158, 0.239);
}