name: Run Tests and Upload Coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Fix Git Extraheader Issue
        run: git config --global --unset-all http.https://github.com/.extraheader || true

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run tests and generate coverage
        run: npm test -- --coverage --verbose

      - name: Download Codecov uploader
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov

      - name: Upload coverage to Codecov
        run: ./codecov -f ./coverage/lcov.info -t ${{ secrets.CODECOV_TOKEN }}
